---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---

<!doctype html>
<html>
  <Header title="Shane O'Hanlon" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>Hi, I'm Shane.<br />I build Platforms for Developers</h1>
              <p class="lead">
                I’m a Senior Platform Engineer at Bazaarvoice, where I build
                scalable cloud platforms and improve developer experience. My
                work focuses on DevOps, AWS, Kubernetes/EKS, Serverless, and
                IDPs, with an emphasis on creating resilient and efficient
                systems that help teams move faster and work smarter. Outside of
                work, I’m passionate about technology, storytelling, and
                creativity. I love sci-fi, music, gaming, books, and film, and
                I’ll never turn down a good conversation about Star Trek.
              </p>
            </div>
            <a href="mailto:sohanlon07@gmail.com " class="button w-button"
              >Contact</a
            >
          </main>
          <div class="projects-section">
            <!-- DevOps & Cloud -->
            <a href="/career-projects" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container devops-img">
                  <img
                    src="./assets/database.svg"
                    loading="lazy"
                    alt=""
                    class="projects-category-image"
                  />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>DevOps &amp;&nbsp;Cloud</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">
                    Technologies &amp; tools
                  </div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Azure</div>
                    <div class="single-chip small-chip">AWS</div>
                    <div class="single-chip small-chip">Docker</div>
                    <div class="single-chip small-chip">Kubernetes</div>
                    <div class="single-chip small-chip">Helm</div>
                    <div class="single-chip small-chip">Github Actions</div>
                    <div class="single-chip small-chip">Linux</div>
                    <div class="single-chip small-chip">Git</div>
                    <div class="single-chip small-chip">Jenkins</div>
                    <div class="single-chip small-chip">Azure DevOps</div>
                    <div class="single-chip small-chip">Artifactory Pro</div>
                    <div class="single-chip small-chip">Sonatype Nexus</div>
                    <div class="single-chip small-chip">Cloudsmith</div>
                    <div class="single-chip small-chip">Octopus Deploy</div>
                    <div class="single-chip small-chip">Sonarqube</div>
                    <div class="single-chip small-chip">GitLab CICD</div>
                    <div class="single-chip small-chip">Open Telemetry</div>
                    <div class="single-chip small-chip">Datadog</div>
                    <div class="single-chip small-chip">Logz.io</div>
                    <div class="single-chip small-chip">ServiceNow</div>
                    <div class="single-chip small-chip">Flexera</div>
                  </div>
                </div>
              </div>
            </a>
            <!-- Software Development -->
            <a href="/career-projects" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  <img
                    src="./assets/browser.svg"
                    loading="lazy"
                    alt=""
                    class="projects-category-image"
                  />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Software Development</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">
                    Technologies &amp; tools
                  </div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Terraform</div>
                    <div class="single-chip small-chip">Cloud Formation</div>
                    <div class="single-chip small-chip">Bash Scripting</div>
                    <div class="single-chip small-chip">Python</div>
                    <div class="single-chip small-chip">JavaScript</div>
                    <div class="single-chip small-chip">SQL</div>
                    <div class="single-chip small-chip">Java</div>
                    <div class="single-chip small-chip">Ansible</div>
                    <div class="single-chip small-chip">YAML</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
